@media (max-width:500px) {
    .header h1{
        font-size: 90%;
    }
    .ptitle{
        font-size: 90%;
        font-weight: 600;
    }
    p{
        font-size: 80%;
        word-wrap: break-word;
    }
    .body{
        font-size: 70%;
        font-weight: 400;
        color: black !important;
        word-wrap: break-word;
    }
    .success{
        width: 120px;
        height:30px;
        background-color: orange;
     position: fixed;
     top: 50%;
     left: 40%;
    }
    svg{
        width:40px;
        height: 40px;
    }
}